div.popup {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login form.form-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 75%;
    z-index: 100;
}
.popup form.form-popup > * {
    width: 70%;
}
.login .form-popup .form-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 45%;
}

.login .form-popup .form-hero .input-grp input {
    border: 1px solid rgba(128, 128, 128, 0.301); 
    padding-left: 1rem;   
    padding-right: 1rem;   
    padding-top: 0.8rem;   
    padding-bottom: 0.8rem; 
}

.login .form-popup .form-hero .input-grp input:focus {
    outline: rgba(59, 91, 161, 0.266) solid 1px;
    transition: 0.3s;  
}

form .form-header .welcome-msg {
    letter-spacing: -0.9px;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
}
form .form-header .sign-in-msg {
    letter-spacing: -0.2px;
    word-spacing: -0.7px;
    font-size: 13px;
}
form.form-popup .form-hero .btn-grp .sign-in-btn {
    font-weight: 300;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background: #1243F0;
}
form .sign-in-msg {
    font-size: 15px;
}
form.form-popup .form-footer {
    font-size: 13px;
}
.form-primary-btn {
    color: blue;
}
.primary-color {
	color: rgb(43, 20, 219);
}


.register form.form-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 80%;
    z-index: 100;
}

.register .form-header  {
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.register .form-hero  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 70%;
}

.register .form-hero .form-grp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    }
.register .form-hero .form-grp > * {
    width: 100%;
}
.register .form-hero  input {
    width: 100%;
    padding: 10px;
}
.register .form-hero .form-grp {
    gap: 1.5%;
}

.register .form-hero .age {
    flex : 3
}
.register .form-hero .username {
    flex: 5;
}
.register .form-hero .form-grp .input-grp input{
    border: 1px solid rgba(128, 128, 128, 0.301); 
}
.register .form-hero .btn-grp .register-btn {
    font-weight: 300;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #1243F0;
    /* inline-block rounded-lg bg-blue-500  text-sm font-medium text-white */
    border-radius: 10px;
    color: white;
}
.register .form-error, .login .form-error  {
    display: flex;
    align-items: center;
    color: rgb(248, 28, 28);
    font-size: 14px;
    height: 8%;
}

.register .form-hero .password {
    flex: 4;
}
.register .form-hero .confirm {
    flex: 5;
}
@media (max-width : 1100px) {

	
    .popup .form-popup {
        flex-basis: 80%;
    }

}
@media (max-width : 700px) {
    form .form-header .welcome-msg {
        font-size: 30px;
    }
    .popup.login form .form-header .welcome-msg .line-break {
        display: inline;
        content:  " "; 
        margin-left: 1.5%;
    }
    .popup.login form .form-header .welcome-msg .primary-color {
    }
}
@media (max-width : 600px) {
    .popup.register  {
    }
    .popup form .form-hero {

    }
    .popup form .form-hero .form-grp {
        flex-direction: column;
        margin-bottom: 2%;
    }
    .popup form .form-header {
        justify-content: space-evenly;
    }
    form .form-header .welcome-msg {
        line-height: 28px;
        font-size: 24px;
        margin-bottom: 2%;
    }
    form .form-header .sign-in-msg {
        display: none;
    }

    form.form-popup .form-hero .btn-grp .sign-in-btn {
        font-weight: 300;
        padding: 12px;
        padding-left: 20px;
        padding-right: 20px;
        background: #1243F0;
    }
    form .sign-in-msg {
        font-size: 15px;
    }
    .popup form .form-hero  {
        display: flex;
        flex-basis: 75%;
    }
   
    .popup form .form-hero .form-grp > :nth-child(2)  {
        margin-top: 2%;
    }
    .popup form .form-hero  input {
        padding: 6px;
    }
    .register form .form-hero .btn-grp .register-btn {
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 15px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .register form .form-hero .btn-grp .register-btn span
    {
        
    }
    .register form.form-popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;
        z-index: 100;
    }
}
@media (max-width : 400px) {
    .register .form-popup .form-header .primary-color {
        display: block;
    }
    .login form.form-popup {
        width: 100%;
        padding: 0;
    }
    .login.popup form .form-hero  input + span {
        display: none;
    }
    .login.popup form .form-hero  input {
        
    }
}
