.search-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.search-count {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
}

.search-result {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.pagination-btns {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.pagination-btns > * {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.pagination-btns > :disabled {
    stroke-width: 1;
    stroke: #646464;
    fill: none;

}