@keyframes shake {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(0.5px, 1px) rotate(0.5deg);
    }
    50% {
      transform: translate(0, 0) rotate(-1deg);
    }
    75% {
      transform: translate(-1px, 0.5px) rotate(-0.5deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }

.search-error {
	animation: shake 0.5s ease-in-out 0s 1;
  }